@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
.more-stories-div a:hover, .culture-title:hover, .text-underline:hover {
  color: black;
}

.article-ribbon:hover {
  text-decoration: none;
  color: #f72210;
}

.sign-up .sign-up-link::after, .see-all-features::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center/contain no-repeat;
}

main > section, .featured-stories-div section > div {
  margin-bottom: 20px;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  display: block;
  border: 0;
  opacity: 0;
}

img:not(.initial) {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

header {
  background-color: #f72210;
  text-transform: uppercase;
  font-weight: 700;
}

body {
  background-color: #f4f5f7;
}

main > section {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}

/* WORKING ON HEADER */
.navbar-right > a {
  font-size: 14px;
}

.navbar-right > a:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-right a:first-child {
  color: #fff;
}

.navbar-right > a:last-child:hover {
  color: #f72210;
}

.brand svg {
  width: 131px;
  fill: #fff;
}

.subscribe {
  background: #fff;
  color: #f72210;
  margin: 0 5px;
  padding: 6px 3px;
  line-height: 0.9;
}

.subscribe svg {
  width: 8px;
  fill: #f72210;
  margin-left: 7px;
}

.icon-menu {
  padding: 10px;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  display: block;
  height: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #fb9a94;
  width: 26px;
}

/* WORKING ON MAIN */
.section-title {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #03030366;
  font-weight: 700;
  margin-top: 15px;
}

.section-top {
  position: relative;
}

.img-container img {
  width: 100%;
}

.category {
  position: absolute;
  bottom: 0;
  padding: 7px 17px;
  background-color: #ffffffe6;
  color: black;
}

.category-title {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 700;
  color: #f72210;
  text-transform: uppercase;
}

.section-headline a:hover {
  -webkit-text-decoration: underline #f72210;
          text-decoration: underline #f72210;
}

.section-headline h2 {
  margin-top: 15px;
  font-size: 1.3em;
  font-weight: 700;
  color: #000;
}

.sumary-paragraph {
  font-size: 0.79rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* WORKING ON OPINION*/
.opinion-div article {
  height: -moz-fit-content;
  padding-top: 10px;
  margin-bottom: 10px;
}

.opinion-div section article + article {
  -webkit-box-shadow: 0 -1px 0 0 grey;
          box-shadow: 0 -1px 0 0 grey;
}

.opinion-article-img {
  height: 63px;
}

.opinion-article-text * {
  font-size: 1rem;
  font-weight: 700;
}

.opinion-article-text a:hover {
  color: #f72210;
  text-decoration: none;
}

.opinion-article-text p {
  text-transform: uppercase;
  color: #555;
  font-size: 0.9rem;
  margin: 0;
}

/* WORKING ON DEBATE */
.debate-text-n-img {
  border-top: 4px solid tomato;
}

.debate-text-n-img img {
  height: 95px;
}

.debate-text-n-img h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 15px;
}

.debate-text-n-img:nth-child(4) {
  border-top: 4px solid #1c87fb;
}

.debate-author {
  -webkit-box-shadow: 0 -1px 0 0 grey;
          box-shadow: 0 -1px 0 0 grey;
}

.debate-author img {
  height: 63px;
  top: -12px;
  right: 0;
}

.vs-div {
  background: black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  font-size: 23px;
}

/* WORKING MORE STORIES */
.more-stories-div {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  margin-top: 10px;
}

.more-stories-div img {
  float: left;
  margin-right: 10px;
}

.more-stories-div h3 {
  font-size: 1rem;
  font-weight: 700;
  width: 90%;
}

.more-stories-div p {
  font-size: 0.9rem;
}

.more-stories-div a:hover {
  -webkit-text-decoration: underline #f72210;
          text-decoration: underline #f72210;
}

/* WORKING ON CULTURE AND TRAVEL */
.culture-article p {
  color: #27272780;
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
}

.culture-ribbon {
  bottom: 0;
  padding: 0 9px;
  background: #c2d4d7;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.culture-ribbon:hover {
  background-color: #272727;
  color: #c2d4d7;
}

.culture-title h3 {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
}

/* WORKING ON LATEST NEWS SECTION */
.latest-news article {
  padding: 10px 0;
}

.latest-news article:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

/* WORKING ON SIGNUP */
.sign-up .sign-up-link {
  background-color: #666;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.sign-up .sign-up-link:hover {
  background-color: #888;
}

.sign-up-img {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.sign-up-box {
  width: 260px;
  padding: 20px;
  background: #f4f5f6;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
}

.sign-up-box > *:not(:last-child) {
  margin-bottom: 20px;
}

.sign-up-box:last-child {
  font-weight: 700;
}

.middle {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
}

/* WORKING IN THE MAGAZINE */
.in-the-magazine > article {
  position: relative;
}

.in-the-magazine > article img {
  width: 100%;
}

.article-ribbon {
  padding: 4px 10px;
  background: white;
  display: block;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: 700;
  color: #f72210;
  text-transform: uppercase;
}

.see-all-features {
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-weight: 700;
  background-color: #f4f5f6;
  font-size: 16px;
  padding: 5px;
}

.see-all-features::after {
  background-image: url(https://g.newsweek.com/www/images/icon-arrow-right-black.svg);
}

.see-all-features:hover {
  background-color: #b9b9b9;
}

.text-underline:hover {
  -webkit-text-decoration: underline #f72210;
          text-decoration: underline #f72210;
}

.magazine-article {
  margin-bottom: 20px;
}

.magazine-article div {
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px 0;
}

.magazine-article div p {
  background-color: #f72210;
  color: white;
  padding: 0 7px;
  margin-right: 10px;
  margin-bottom: 0;
}

.magazine-article div a {
  color: #f72210;
}

.magazine-article .magazine-link {
  font-weight: 700;
}

.infocus {
  padding: 1px 5px;
  background-color: #f72210;
  color: white !important;
  bottom: 0;
}

.last-magazine-article:last-child {
  text-transform: uppercase;
}

.grey {
  color: #333;
}

/* WORKING ON MEDIA-QUERY */
@media (min-width: 481px) {
  .navbar-right > a {
    font-size: 18px;
  }
  .navbar-right a:last-child {
    padding: 3px 6px;
    line-height: 1.15;
  }
  .icon-menu {
    margin: 0 10px;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    width: 30px;
  }
  .show-tablet {
    display: block !important;
  }
}
/*# sourceMappingURL=style.css.map */